.cta {
  background-color: var(--clr-base);
  border: var(--border);

  .section-center {
    max-width: 1120px;
    width: 90%;
    margin-inline: auto;
    padding: 2rem 0 3rem 0;
    display: grid;
    row-gap: 3.125rem;

    @media screen and (min-width: 1100px) {
      grid-template-columns: minmax(1rem, 544px) minmax(1rem, 448px);
      padding: 0;
      padding-block: 4rem;
      column-gap: 2rem;
      justify-content: space-between;
    }
  }
}

.left-container {
  background-color: var(--clr-5);
  border: var(--border);
  border-radius: 1rem;
  padding: 2rem 1rem;

  @media screen and (min-width: 800px) {
    padding: 4rem;
  }

  .section-title {
    h1 {
      font-family: "Caveat Brush", cursive;
      font-size: 2rem;
      text-transform: uppercase;
      margin-bottom: 1.5rem;
    }

    p {
      margin-bottom: 1.5rem;
    }

    @media screen and (min-width: 800px) {
      h1 {
        font-size: 3rem;
        margin-bottom: 2rem;
      }
      p {
        font-size: 1.25rem;
        margin-bottom: 2.5rem;
      }
    }
  }

  .cta-container {
    .error-msg {
      font-size: 0.75rem;
      color: var(--clr-warning);
      text-transform: capitalize;
      margin-bottom: 0.5rem;
      display: none;
    }
    .success-msg {
      color: var(--clr-3);
      font-weight: var(--fw-bold);
      margin-bottom: 1rem;
      display: none;
      align-items: center;
      column-gap: 1rem;
    }

    form {
      margin-bottom: 4.5rem;

      .input-container {
        background-color: var(--clr-white);
        border: var(--border);
        padding-left: 1rem;
        border-radius: 0.5rem;
        margin-bottom: 1rem;
        display: flex;

        input {
          width: 100%;
          padding-block: 1.25rem;
          color: var(--clr-6);
          border: transparent;
          outline: transparent;
          margin-left: 1rem;
        }
      }

      .copy-btn-sm {
        visibility: collapse;
        @media screen and (min-width: 1100px) {
          font-size: 1.25rem;
          background-color: var(--clr-4);
          color: var(--clr-white);
          padding-inline: 1.5rem;
          border-bottom-right-radius: 0.5rem;
          border-top-right-radius: 0.5rem;
          font-weight: var(--fw-bold);
          border: var(--border);
          cursor: pointer;
          display: none;
          visibility: visible;
        }
      }

      .submit-btn,
      .copy-btn-lg {
        width: 100%;
        line-height: 0.9375rem;
        background-color: var(--clr-4);
        border: var(--border);
        border-radius: 0.5rem;
        padding: 1.25rem;
        color: var(--clr-white);
        font-weight: var(--fw-bold);
        cursor: pointer;
      }

      .copy-btn-lg {
        visibility: collapse;
        @media screen and (max-width: 1100px) {
          display: none;
          visibility: visible;
        }
      }

      @media screen and (min-width: 800px) {
        font-size: 1.25rem;
        margin-bottom: 9.56rem;
      }
    }

    .terms {
      color: var(--clr-6);
    }
  }
}

.right-container {
  align-self: center;
  .referral-cards {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    @media screen and (min-width: 800px) {
      gap: 4rem;
    }

    .card {
      display: flex;
      flex-direction: column;
      gap: 2.125rem;

      @media screen and (min-width: 600px) {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        &:nth-child(2) {
          flex-direction: row-reverse;
        }
      }

      img {
        flex-basis: 0;
        @media screen and (max-width: 600px) {
          width: 8rem;
          margin-inline: auto;
        }
      }

      .card-text {
        text-align: center;
        h3 {
          font-size: 1rem;
          letter-spacing: 1.28px;
          color: var(--clr-4);
          font-family: "Gadugi", Helvetica, sans-serif;
          margin-bottom: 1rem;
        }
        h2 {
          font-size: 2rem;
          font-family: "Caveat Brush", cursive;
          margin-bottom: 1rem;
          color: var(--clr-3);
        }
        p {
          color: var(--clr-3);
        }

        @media screen and (min-width: 600px) {
          text-align: left;
          max-width: 28ch;
        }

        @media screen and (min-width: 800px) {
          h3 {
            font-size: 1.25rem;
            letter-spacing: 1.6px;
          }
          p {
            font-size: 1.25rem;
          }
        }
      }
    }
  }
}
