footer {
  background-color: var(--clr-5);
  border: var(--border);

  .section-center {
    width: 90%;
    max-width: 1120px;
    margin-inline: auto;
    padding: 3rem 2rem;
    display: grid;
    grid-template-areas:
      "text"
      "nav"
      "copyright";

    grid-template-columns: 1fr;
    justify-content: center;
    gap: 3rem;

    @media screen and (min-width: 1100px) {
      grid-template-areas:
        "text nav"
        "copyright nav";

      grid-template-columns: 1fr 1fr;
    }
    .footer-text {
      grid-area: text;
      img {
        margin-bottom: 2rem;
      }
    }

    .footer-navigation {
      grid-area: nav;
      display: grid;
      grid-template-areas:
        "links"
        "contacts"
        "social";

      grid-template-columns: 1fr;
      gap: 2rem;

      @media screen and (min-width: 1100px) {
        grid-template-areas:
          "links contacts"
          "links social";

        grid-template-columns: 1fr 1fr;
      }

      .links-container {
        grid-area: links;
        p {
          font-weight: var(--fw-bold);
          margin-bottom: 1.4375rem;
          letter-spacing: 1.28px;
        }
        a {
          display: block;
          margin-bottom: 0.9375rem;
          color: currentColor;
        }
        a:last-child {
          margin-bottom: 0;
        }
      }

      .contact {
        grid-area: contacts;
        & > *:first-child {
          font-weight: var(--fw-bold);
          margin-bottom: 1.4375rem;
          letter-spacing: 1.28px;
        }

        & > *:nth-child(2) {
          span {
            display: inline-block;
            margin-right: 1rem;
          }
        }
      }

      .social-icons {
        align-self: flex-end;
        grid-area: social;
        p {
          font-weight: var(--fw-bold);
          margin-bottom: 1.4375rem;
          letter-spacing: 1.28px;
        }
        .icons-container {
          display: flex;
          gap: 0.5rem;

          .icon {
            background-color: var(--clr-4);
            height: 2rem;
            width: 2rem;
            border: var(--border);
            border-radius: 8px;
            cursor: pointer;
            display: grid;
            place-content: center;
          }
        }
      }
    }

    p {
      grid-area: copyright;
      color: var(--clr-6);
    }
  }
}
