header {
  border: var(--border);
  background-color: var(--clr-white);

  .header-center {
    width: 90%;
    margin-inline: auto;
    @media screen and (min-width: 700px) {
      max-width: 1120px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .nav-header {
    padding-block: clamp(0.75rem, 2vw, 1.2rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-toggle {
    background-color: transparent;
    border: transparent;
    cursor: pointer;

    @media screen and (min-width: 700px) {
      display: none;
    }
  }

  .menu-container {
    height: 0;
    overflow: hidden;
    transition: all 0.2s linear;

    @media screen and (min-width: 700px) {
      height: auto !important;
    }

    .menu-links {
      display: flex;
      row-gap: 1rem;
      padding-block: 1.25rem;

      @media screen and (min-width: 700px) {
        column-gap: 2rem;
        padding-block: 0;
      }

      & > li a {
        color: var(--clr-2);
        text-transform: capitalize;
        line-height: 2rem;
        display: block;
      }
     
      @media screen and (max-width: 700px) {
        flex-direction: column;
      }
    }
  }
  .show-container {
    height: 100%;
  }
}
