header {
  padding-inline: 1rem;
  border: solid 1px #1f343e;
  background-color: #fff;

  .header-center {
    @media screen and (min-width: 768px) {
      max-width: 1120px;
      margin-inline: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .nav-header {
    padding-block: 0.75rem;
    padding-block: clamp(0.75rem, 2vw, 1.2rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-toggle {
    background-color: transparent;
    border: transparent;
    cursor: pointer;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  .menu-container {
    height: 0;
    overflow: hidden;
    transition: all 1s ease;

    @media screen and (min-width: 768px) {
      height: auto !important;
    }

    .menu-links {
      display: flex;
      row-gap: 1rem;
      padding-block: 1.25rem;

      @media screen and (min-width: 768px) {
        column-gap: 2rem;
        padding-block: 0;
      }

      & > li a {
        color: #434a54;
        font-family: "Noto Sans", sans-serif;
        text-transform: capitalize;
        line-height: 2;
        display: block;

        & > .active {
          color: #4eb3e3;
        }
      }

      @media screen and (max-width: 768px) {
        flex-direction: column;
      }
    }
  }
  // .show-container {
  //   height: 100%;
  // }
}
