//font-family: 'Caveat Brush', cursive;
//font-family: 'Noto Sans', sans-serif;
//font-family: 'Roboto', sans-serif;




:root {
  --clr-1: #1f333d;
  --clr-2: #434A54;
  --clr-3: #1F343E;
  --clr-4: #4EB3E3;
  --clr-5: #F8F4F9;
  --clr-6: #6D7A80;
  --clr-7: #ED6F82;
  --clr-8: #45565E;
  --clr-9: #ffffff;
}